/**
    Name:Miku theme
    From Jack Li
 */

.vue-codemirror,
.CodeMirror {
    height: 100% !important;
}

.cm-s-miku.CodeMirror {
    background: url('../assets/miku_10.jpg') !important;
    color: rgba(63, 83, 110, 0.884);
    font-weight: bold;
}

.cm-s-miku .CodeMirror-activeline-background {
    background: rgb(255, 191, 203) !important;
    /* background: #3390FF !important; */
}

.cm-s-miku .CodeMirror-selected {
    background: rgb(255, 191, 203) !important;
    /* background: #3390FF !important; */
}


/* .cm-s-miku span.cm-number { color: #0000FF !important; } */

.cm-s-miku span.cm-keyword {
    line-height: 1em;
    /* color: #000080 !important; */
    color: rgba(233, 118, 214, 0.959);
}

.cm-s-miku .cm-property {
    color: #2AA36B !important;
    font-weight: bold !important;
}

.cm-s-miku .cm-number {
    color: #215799d3 !important;
    font-weight: bold !important;
}

.cm-s-miku span.cm-def {
    color: rgba(42, 163, 107, 0.911);
}

.cm-s-miku span.cm-variable {
    color: rgba(42, 163, 107, 0.911);
}

.cm-s-miku span.cm-variable-2 {
    color: rgba(42, 163, 107, 0.911);
}

.cm-s-miku span.cm-variable-3,
.cm-s-miku span.cm-type {
    color: rgba(42, 163, 107, 0.911);
}

.cm-s-miku span.cm-property {
    color: rgba(42, 163, 107, 0.911);
}

.cm-s-miku span.cm-operator {
    color: #994500cc;
}

.cm-s-miku span.cm-comment {
    color: rgba(74, 157, 74, 0.966);
}

.cm-s-miku span.cm-string {
    color: rgba(218, 69, 67, 0.932);
}

.cm-s-miku span.cm-string-2 {
    color: rgba(218, 69, 67, 0.932);
}

.cm-s-miku span.cm-qualifier {
    color: rgba(42, 163, 107, 0.884);
}

.cm-s-miku span.cm-error {
    color: rgba(216, 0, 0, 0.932);
}

.cm-s-miku span.cm-attribute {
    color: #215799d3;
}

.cm-s-miku span.cm-tag {
    color: rgba(42, 163, 107, 0.884);
}

.cm-s-miku span.cm-link {
    color: #215799d3;
}

.cm-s-miku span.cm-builtin {
    color: #215799d3;
}

.cm-s-miku span.cm-bracket {
    color: rgba(63, 83, 110, 0.733);
}

.cm-s-miku {
    font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
}

.cm-s-miku .CodeMirror-matchingbracket {
    outline: 1px solid grey;
    color: black !important;
}